<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jqmshow.PicDemo" version=1.00" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
<name>PicDemo</name>
<description></description>
<author email="" href="">Anele Mbanga</author>
<content src="index.html" />
<icon src="apps.png" />
<feature name="App">
<param android-package="org.apache.cordova.App" />
</feature>
<feature name="Camera">
<param android-package="org.apache.cordova.camera.CameraLauncher" />
</feature>
<preference fullscreen="true" />
<preference webviewbounce="true" />
<preference useBrowserHistory="false" />
<preference exit-on-suspend="false" />
<preference permissions="none" />
<preference orientation="default" />
<preference target-device="universal" />
<preference prerendered-icon="true" />
<preference stay-in-webview="false" />
<preference ios-statusbarstyle="black-opaque" />
<preference show-splash-screen-spinner="true" />
<preference auto-hide-splash-screen="true" />
<preference disable-cursor="false" />
<preference android-minSdkVersion="7" />
<preference android-installLocation="auto" />
<gap:plugin name="org.apache.cordova.battery-status" />
<gap:plugin name="org.apache.cordova.camera" />
<gap:plugin name="org.apache.cordova.media-capture" />
<gap:plugin name="org.apache.cordova.console" />
<gap:plugin name="org.apache.cordova.contacts" />
<gap:plugin name="org.apache.cordova.device" />
<gap:plugin name="org.apache.cordova.device-motion" />
<gap:plugin name="org.apache.cordova.device-orientation" />
<gap:plugin name="org.apache.cordova.dialogs" />
<gap:plugin name="org.apache.cordova.file" />
<gap:plugin name="org.apache.cordova.file-transfer" />
<gap:plugin name="org.apache.cordova.geolocation" />
<gap:plugin name="org.apache.cordova.globalization" />
<gap:plugin name="org.apache.cordova.inappbrowser" />
<gap:plugin name="org.apache.cordova.media" />
<gap:plugin name="org.apache.cordova.network-information" />
<gap:plugin name="org.apache.cordova.splashscreen" />
<gap:plugin name="org.apache.cordova.vibration" />
<icon gap:platform="android" gap:qualifier="ldpi"/>
<icon gap:platform="android" gap:qualifier="mdpi"/>
<icon gap:platform="android" gap:qualifier="hdpi" src="apps72.png"/>
<icon gap:platform="android" gap:qualifier="xhdpi"/>
<icon gap:platform="blackberry" src="apps80.png"/>
<icon gap:state="hover" gap:platform="blackberry" src="apps80.png"/>
<icon gap:platform="ios" src="apps57.png" height="57" width="57"/>
<icon gap:platform="ios" src="apps72.png" height="72" width="72"/>
<icon gap:platform="ios" src="apps114.png" height="114" width="114"/>
<icon gap:platform="ios" height="144" width="144"/>
<icon gap:platform="webos"/>
<icon gap:platform="winphone"/>
<icon gap:role="background" gap:platform="winphone"/>
<gap:splash gap:platform="android" gap:qualifier="ldpi" src="appsIconStartUp320by460.png" />
<gap:splash gap:platform="android" gap:qualifier="mdpi" src="appsIconStartUp320by460.png" />
<gap:splash gap:platform="android" gap:qualifier="hdpi" src="appsIconStartUp320by460.png" />
<gap:splash gap:platform="android" gap:qualifier="xhdpi" src="appsIconStartUp320by460.png" />
<gap:splash gap:platform="blackberry" src="appsIconStartUp320by460.png" />
<gap:splash gap:platform="ios" height="480" width="320" />
<gap:splash gap:platform="ios" height="960" width="640" />
<gap:splash gap:platform="ios" height="1136" width="640" />
<gap:splash gap:platform="ios" height="1024" width="768" />
<gap:splash gap:platform="ios" height="768" width="1024" />
<gap:splash gap:platform="webos" />
<gap:splash gap:platform="winphone" src="appsIconStartUp320by460.png" />
<access origin="*" />
</widget>
